body {

    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;

}

h1 {
    font-size: 25px;

}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    background-color: #ff6a3e;
    padding: 12px;
    border-radius: 8px;
}







.flex-container {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    
}

.antraste {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
}

.tikrasis_tekstas {
    font-size: 1rem;
    line-height: 1.5em;
    max-width: 40.625rem;
    margin: 0 0 1rem 0;
    color: #4e4b66;

}

.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.pavadinimas_tekstas {
    text-align: center;
    width: 100%;
    margin-bottom: clamp(2.5rem, 5vw, 3.25rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.flex-item {


    /* text-align: left; */

    flex: 0 1 calc(50% - 20px);
    
    box-sizing: border-box;
    text-align: center;
   
}


.container {

    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;

    align-items: center;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
}

.apacios_tekstas {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: #4e4b66;

}

.meniuske {
    list-style: none;
    display: flex;
    gap: 20px;
}

.meniuske.active {
    display: flex;
    list-style: none;
  }

  .meniuske li a {
    text-decoration: none;
    color: #4e4b66;
    font-size: 16px;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
  }
  
  .meniuske li a:hover,
  .meniuske li a.active {
    color: #ff6a3e;
    border-bottom: 2px solid #ff6a3e;
  }

.text_header {
    font-size: clamp(1.9375rem, 3.9vw, 3.0625rem);
    font-weight: 900;
    line-height: 1.2em;
    color: #1a1a1a;
   
    margin: 0 0 1rem 0;
   
    box-sizing: border-box;

}




.paveikslas {
    margin-right: 0;
    padding-left: 0px;
    padding-right: 0px;

}

.apacia {
    background-color: #F7F7F7;
    padding: clamp(1.5rem, 3vw, 2rem);
    border-radius: 15px;
    text-align: left;
    align-items: flex-start;
    grid-column: span 6;
}

.nuotrauka {
    width: 100%;
    height: clamp(17.5rem, 58.6vw, 31.875rem);
    margin-bottom: clamp(1rem, 2vw, 1.25rem);
    display: block;
    position: relative;
}

.nuotrauka img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2.5rem;
    position: absolute;

}

.mygtukas_flex {
    padding-right: 0px;
    margin-right: 0px;
}

.mygtukas {
    border: 2px solid #ff6a3e;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ff6a3e;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.mygtukas a {
    color: #ff6a3e;
    text-decoration: none;
}

.mygtukas:hover {
    background-color: #ff6a3e;
    color: white;
    text-decoration: none;
}

.mygtukas:hover a {
    color: background-color;
    text-decoration: none;
}

.tekstas {
    flex: none;
}

.tekstas2 {
    font-size: 20px;
    line-height: 40px;
    padding-left: 48px;
    padding-top: 16px;
    padding-right: 48px;
    padding-bottom: 16px;
}

.mygtukas2 {
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color:#ff6a3e;
    color: #fafbfc;
    display: inline-block;
    transition: color 0.3s, background-color 0.3s;

}


.mygtukas2:hover {
    background-color: black;
    text-decoration: none;
}


.logotipas {
    display: flex;
    align-items: center;
}

#turinys {
    padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    overflow: hidden;
    position: relative;
}

.burger .line {
    width: 25px;
    height: 2px;
    background-color: #fff;
}

@media (min-width: 1300px) {
    .flex-item {
        flex: 0 1 calc(25% - 20px);
       
    }

    .flex-container {
        display: flex;
        flex-wrap: nowrap;
       
        justify-content: space-between;
        
        gap: 20px;
       
        overflow-x: auto;
        
    }

    .pavadinimas_tekstas {
        text-align: left;
        max-width: 80rem;
        gap: 1.25rem;
        flex-direction: row;
        align-items: flex-start;
    }


    .tekstas {

        width: 50%;
        max-width: 39.375rem;

    }

    .antraste {
        padding: 40px 0;
    }
}

@media (min-width: 1024px) {
    .antraste {
        padding: 20px;


    }

}

@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .mygtukas {
        display: none;
    }

    .meniuske {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        z-index: 1000;
        padding: 1rem;
    }

}

@media (min-width: 768px) {
    .tikrasis_tekstas {
        font-size: 1.25rem;
    }

    .flex-item {
        flex: 0 1 calc(75% - 20px);
        
    }

    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        
        justify-content: space-between;
        
       
        overflow-x: auto;
        
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 1.25rem;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        
        align-items: stretch;
       
        gap: 20px;
      
    }

    .flex-item {
        display: flex;
        justify-content: center;
       
        align-items: center;
        
        width: 100%;
        
        height: 200px;
        
        box-sizing: border-box;
       
        background-color: #f0f0f0;
        
        padding: 20px;
        
        flex-direction: column;
    }

    .apacios_tekstas {
        text-align: center;

    }

}

.vienas:hover {
    .pirmas {
        color: #ffba43;
    }
}

.du:hover {
    .antras {
        color: #ffba43;
    }
}

.trys:hover {
    .trecias {
        color: #ffba43;
    }
}

.keturi:hover {
    .ketvirtas {
        color: #ffba43;
    }
}

  
  .open-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
 
  .modal {
    visibility: hidden; 
    opacity: 0; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: visibility 0s, opacity 0.3s ease; 
  }
  
 
  #modal:target {
    visibility: visible; 
    opacity: 1;    
  }
  
  
  .modal-content {
    background-color: white;
    padding: 20px;
    width: 50%;
    max-width: 500px; 
    border-radius: 8px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(0.7);
    transition: transform 0.3s ease; 
    opacity: 0;
    transition: opacity 0.3s ease, transform 1s ease; 
  }
  
  
  #modal:target .modal-content {
    transform: scale(1); 
    opacity: 1; 
  }
  

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  